<div class="container my-5">
  <h1 class="mb-3">Impressum</h1>

  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-3">Name</h2>
      <p>Hangoma, Hugo, Michaela, Tom</p>

      <h2 class="mb-3">Address</h2>
      <p>Dream Flats 3, Dreamland</p>

      <h2 class="mb-3">Email</h2>
      <p>DreamFlat@Dreamland.com</p>

      <h2 class="mb-3">Phone</h2>
      <p>+41 176 234567</p>
    </div>

    <div class="col-md-6">
      <h2 class="mb-3">Disclaimer</h2>
      <p>AThe information provided on this website is for general informational purposes
      only and should not be relied upon as legal, financial, medical, or any other professional
      advice. While we strive to provide accurate information, we make no representations or warranties
      of any kind, express or implied, about the completeness, accuracy, reliability,
      suitability or availability with respect to the website or the information, products,
      services, or related graphics contained on the website for any purpose.
      Any reliance you place on such information is therefore strictly at your own risk.
      In no event will we be liable for any loss or damage including without limitation,
      indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of
      data or profits arising out of, or in connection with, the use of this website.
      Through this website you are able to link to other websites which are not under our control.
      We have no control over the nature, content and availability of those sites.
      The inclusion of any links does not necessarily imply a recommendation or endorse the views
      expressed within them. Every effort is made to keep the website up and running smoothly.
      However, we take no responsibility for, and will not be liable for, the website being temporarily
      unavailable due to technical issues beyond our control.</p>
    </div>
  </div>
</div>
