<h1>Readings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.type_of_reading %></td>
        <td><%= reading.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Reading", new_property_reading_path, class: "btn btn-primary" %>
<%= link_to "Back to property", property_path(params[:property_id]), class: "btn btn-secondary" %>
