<div class="flex">
    <% @property.readings.each do |r| %>
    <p><%=link_to r.type_of_reading, reading_path(r), class:"btn btn-info" %></p>
    <p><%= link_to "Delete", reading_path(k), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"%></p>
  <% end %>
  </div>
