<h1>Keys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.title %></td>
        <td><%= key.description %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Key", new_property_key_path %>

