<%# this might be better for the damages but im testing it out Tom Elsom 09/03/23 %>


<h1><%= @room.name %></h1>
 <p><%= link_to "Delete", @room, method: "destroy", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"%></p>
