<footer class="fixed-bottom font-awesome-font", style="background-color: #f5f5f5;">
  <div class="container py-3">
    <div class="row align-items-end">
      <div class="col-md-4 mb-3 mb-md-0">
        <p class="mb-0">&copy; 2023 Easy Handover</p>
      </div>
      <div class="col-md-8 text-md-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><%= link_to 'Impressum', impressum_index_path %></li>
          <li class="list-inline-item"><%= link_to 'Kontakt', contact_forms_new_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
